```
completed Topics:
-----------------
String
String Methods
List,Indexing,Slicing

Today :
-------
List Methods
Tuple,Tuple Methods
Set,Set Methods
```

### List Methods

In [1]:
list1 = ["today","list","set","tuple",125,20,6,2020]

In [2]:
dir(list1)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [4]:
list1

['today', 'list', 'set', 'tuple', 125, 20, 6, 2020]

In [5]:
# append
# It is used to add the element into our list
list1.append("Saturday")

In [6]:
list1

['today', 'list', 'set', 'tuple', 125, 20, 6, 2020, 'Saturday']

In [7]:
list1.append(["sun","Mon","tue"])
list1

['today',
 'list',
 'set',
 'tuple',
 125,
 20,
 6,
 2020,
 'Saturday',
 ['sun', 'Mon', 'tue']]

In [8]:
list1[-1]

['sun', 'Mon', 'tue']

In [10]:
# Extend
# It is also used for adding elements into the list
list1.extend('hello')

In [11]:
list1

['today',
 'list',
 'set',
 'tuple',
 125,
 20,
 6,
 2020,
 'Saturday',
 ['sun', 'Mon', 'tue'],
 'h',
 'e',
 'l',
 'l',
 'o']

In [12]:
stds=["gopi,venkat","lakshmi","keerthi"]

In [13]:
stds.extend(['Ravi',"vishnu"])
stds

['gopi,venkat', 'lakshmi', 'keerthi', 'Ravi', 'vishnu']

In [14]:
stds.append(["123","145"])
stds

['gopi,venkat', 'lakshmi', 'keerthi', 'Ravi', 'vishnu', ['123', '145']]

In [15]:
stds

['gopi,venkat', 'lakshmi', 'keerthi', 'Ravi', 'vishnu', ['123', '145']]

In [16]:
#insert
stds.insert(2,"siva")
stds

['gopi,venkat', 'lakshmi', 'siva', 'keerthi', 'Ravi', 'vishnu', ['123', '145']]

# append -->it adds element into list as single element
# extend -->It adds elements into list it spend the elements as a different e
# insert -->It adds the element in a perticular index or position

In [17]:
list1

['today',
 'list',
 'set',
 'tuple',
 125,
 20,
 6,
 2020,
 'Saturday',
 ['sun', 'Mon', 'tue'],
 'h',
 'e',
 'l',
 'l',
 'o']

In [18]:
# clear
list1.clear()

In [19]:
list1

[]

In [20]:
# copy -> It is used to copy elements from one list to another list
list1 = stds.copy()

In [21]:
list1

['gopi,venkat', 'lakshmi', 'siva', 'keerthi', 'Ravi', 'vishnu', ['123', '145']]

In [22]:
stds

['gopi,venkat', 'lakshmi', 'siva', 'keerthi', 'Ravi', 'vishnu', ['123', '145']]

In [23]:
# count
stds.count("siva")

1

In [24]:
stds

['gopi,venkat', 'lakshmi', 'siva', 'keerthi', 'Ravi', 'vishnu', ['123', '145']]

In [25]:
stds.count("gopi")

0

In [26]:
stds.count('gopi,venkat')

1

In [27]:
stds.index("siva")

2

In [28]:
ranks=["sai","varsha","ramya","dileep","Prasanthi"]
ranks.index('dileep')

3

In [29]:
# drop
ranks.pop()

'Prasanthi'

In [30]:
ranks

['sai', 'varsha', 'ramya', 'dileep']

In [31]:
ranks

['sai', 'varsha', 'ramya', 'dileep']

In [32]:
ranks.clear()

In [33]:
ranks

[]

In [34]:
ranks=['sai', 'varsha', 'ramya', 'dileep']

In [35]:
ranks.pop()

'dileep'

In [36]:
ranks

['sai', 'varsha', 'ramya']

In [37]:
ranks.pop(1)

'varsha'

In [38]:
ranks

['sai', 'ramya']

In [40]:
ranks.pop(3)

IndexError: pop index out of range

In [41]:
ranks

['sai', 'ramya']

In [42]:
ranks.append("geetha")

In [43]:
ranks

['sai', 'ramya', 'geetha']

In [44]:
# remove
ranks.remove()

TypeError: remove() takes exactly one argument (0 given)

In [45]:
ranks.remove(0)

ValueError: list.remove(x): x not in list

In [46]:
ranks.remove("ramya")

In [47]:
ranks

['sai', 'geetha']

In [48]:
# pop -->is ised for remoing last index element or perticular index element by 
# Mention in Argument

# remove -->It is used for removing element by passing in method element name

In [50]:
# reverse
print(stds)
stds.reverse()
print(stds)

['gopi,venkat', 'lakshmi', 'siva', 'keerthi', 'Ravi', 'vishnu', ['123', '145']]
[['123', '145'], 'vishnu', 'Ravi', 'keerthi', 'siva', 'lakshmi', 'gopi,venkat']

In [51]:
stds.sort()

TypeError: '<' not supported between instances of 'str' and 'list'

In [52]:
stds

[['123', '145'], 'vishnu', 'Ravi', 'keerthi', 'siva', 'lakshmi', 'gopi,venkat']

In [53]:
stds.pop(0)

['123', '145']

In [54]:
stds

['vishnu', 'Ravi', 'keerthi', 'siva', 'lakshmi', 'gopi,venkat']

In [55]:
stds.sort()

In [56]:
stds

['Ravi', 'gopi,venkat', 'keerthi', 'lakshmi', 'siva', 'vishnu']

In [57]:
stds.pop(1)

'gopi,venkat'

In [58]:
stds

['Ravi', 'keerthi', 'lakshmi', 'siva', 'vishnu']

In [59]:
stds.sort()

In [60]:
stds

['Ravi', 'keerthi', 'lakshmi', 'siva', 'vishnu']

In [61]:
ranks=[1,10,3,40,5,11]
ranks.sort()
ranks

[1, 3, 5, 10, 11, 40]

In [62]:
ranks=[1,10,3,40,5,11]
ranks.sort(reverse=True)
ranks

[40, 11, 10, 5, 3, 1]

In [68]:
# "AP27BQ8412" I need to find the sum of all digits in our string

s="AP27BQ8412"
s1=0
for char in s:
    if char.isdigit():
        s1+=int(char)
print(s1)

24

In [64]:
word = "AP27BQ848412"
print(sum(int(i) for i in word if i.isnumeric()))

36

In [66]:
stds_name=["sindhu","geetha","murali","ram","devi","ravi"]
# which student or students having name starts with 'r'
for name in stds_name:
    if name.startswith('r'):
        print(name)

ram
ravi

In [74]:
# "good morning all i have been working in google since 4 years"

# "123.4ku58.96lp5.005" -->6 , 17 ,20,5

st="123.4ku58.96lp5.005"
output=[]
p=st.split(".")
for single in p:
    s=0
    for each in single:
        if each.isdigit():
            s+=int(each)
            
    output.append(s)
print(output)

[6, 17, 20, 5]

# tuple

```
1. It is also used for storing number of element
2. It is declare with ()
3. In tuple we can't perform the delete or update or insert 
4. It allows the duplicate elements
5. It is order list
```

In [75]:
tp=("100","104","108","110","101")
tp

('100', '104', '108', '110', '101')

In [76]:
tp[0]

'100'

In [77]:
tp[0:3]

('100', '104', '108')

In [78]:
type(tp)

tuple

In [79]:
#methods in tuple
dir(())

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [80]:
# count
tp.count("109")

0

In [81]:
tp

('100', '104', '108', '110', '101')

In [82]:
tp[0]

'100'

In [83]:
tp[0]=1000

TypeError: 'tuple' object does not support item assignment

In [84]:
tp.clear()

AttributeError: 'tuple' object has no attribute 'clear'

In [85]:
tp.index("100")

0

In [86]:
tp.index('101')

4

In [87]:
tp

('100', '104', '108', '110', '101')

In [88]:
for each in tp:
    print(each)

100
104
108
110
101

## set

```
1. set is also used for storing number of elements
2. It won't allow the duplicate elements
3. It is declare with {}
4. It is unordered list
```

In [89]:
setA = {1,10,20,10,30,40,20}
setA

{1, 10, 20, 30, 40}

In [90]:
setA[0]

TypeError: 'set' object is not subscriptable

In [91]:
setA[0:3]

TypeError: 'set' object is not subscriptable

In [92]:
# dir(set) for checking methods available in set
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [93]:
setA

{1, 10, 20, 30, 40}

In [94]:
#add
setA.add(5)

In [95]:
setA

{1, 5, 10, 20, 30, 40}

In [96]:
# clear
setA.clear()

In [97]:
setA

set()

In [98]:
setA ={100,101,102,103}.copy()

In [99]:
setA

{100, 101, 102, 103}

In [100]:
toper1={"venkat","geetha","rani","gopi","sai"}
toper2={"geetha","krishna","hari","giri","gopi"}

toper1.difference(toper2)

{'rani', 'sai', 'venkat'}

In [101]:
toper2.difference(toper1)

{'giri', 'hari', 'krishna'}

In [102]:
# difference_update
toper1.difference_update(toper2)
# toper2.difference_update(toper1)

In [103]:
print(toper1)
print(toper2)

{'sai', 'venkat', 'rani'}
{'geetha', 'krishna', 'giri', 'hari', 'gopi'}

In [104]:
toper1={"venkat","geetha","rani","gopi","sai"}
toper2={"geetha","krishna","hari","giri","gopi"}

In [105]:
# Intersection
toper1.intersection(toper2)

{'geetha', 'gopi'}

In [106]:
# Intersection_update

In [107]:
toper1.isdisjoint(toper2)

False

In [108]:
t1={1,2,3}
t2={1,6,5,3,2}
t1.isdisjoint(t2)

False

In [109]:
t2.isdisjoint(t1)

False

In [110]:
u={1,2,3}
v={4,5,6}
v.isdisjoint(u)

True

In [111]:
t1

{1, 2, 3}

In [112]:
t2

{1, 2, 3, 5, 6}

In [113]:
t1.issubset(t2)

True

In [114]:
t2.issubset(t1)

False